<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.cucumber.framework.runner.cardekhoHomePage.CDHomePageRunner"/>
      <class name="com.cucumber.framework.runner.cardekhoNewCar.CDNewCarVerificationRunner"/>
      <class name="com.cucumber.framework.runner.HomePageVerification.RunnerHomePageVerification"/>
      <class name="com.cucumber.framework.Helper.TestBase.TestBase"/>
      <class name="com.CDAppium.org.AndroidBasicWebTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
